:root {
  --text-color: #FFF;
  --primary-color: #222;
  --secondary-color: #9E43F3;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  border: 0;
  overflow: hidden;
  display: block;
  font-family: Arial, Helvetica, sans-serif;
}

html, body, button, input, label {
  font-size: 13px;
}

.control {
  position: absolute;
  top: 0;
  left: 0;
  padding: 8px;
}

button {
  color: var(--text-color);
  cursor: pointer;
  padding: 8px 13px;
  border-radius: 2px;
  font-weight: bold;
  border: 2px solid var(--secondary-color);
  background-color: var(--primary-color);
  transition: 0.2s;
}

button:hover {
  background-color: var(--secondary-color);
}

.urss-mode {
  color: #FFD700;
  background-color: #C00;
  border: 2px solid #FFD700;
}

.urss-mode:hover {
  background-color: red;  
}

.range-block {
  color: var(--text-color);
  padding: 8px 0;
  font-weight: bold;
}

input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  margin: 5.7px 0;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 4.6px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: var(--secondary-color);
  border-radius: 0.7px;
  border: 0px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0.4px 0.4px 1.6px #000000, 0px 0px 0.4px #0d0d0d;
  border: 0px solid #000000;
  height: 16px;
  width: 16px;
  border-radius: 50px;
  background: var(--text-color);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -5.7px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: var(--secondary-color);
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 4.6px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: var(--secondary-color);
  border-radius: 0.7px;
  border: 0px solid #010101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0.4px 0.4px 1.6px #000000, 0px 0px 0.4px #0d0d0d;
  border: 0px solid #000000;
  height: 16px;
  width: 16px;
  border-radius: 50px;
  background: var(--text-color);
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 4.6px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: var(--secondary-color);
  border: 0px solid #010101;
  border-radius: 1.4px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: var(--secondary-color);
  border: 0px solid #010101;
  border-radius: 1.4px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 0.4px 0.4px 1.6px #000000, 0px 0px 0.4px #0d0d0d;
  border: 0px solid #000000;
  height: 16px;
  width: 16px;
  border-radius: 50px;
  background: var(--text-color);
  cursor: pointer;
  height: 4.6px;
}
input[type=range]:focus::-ms-fill-lower {
  background: var(--secondary-color);
}
input[type=range]:focus::-ms-fill-upper {
  background: var(--secondary-color);
}
